
/*  #2e3d49 = Udacity Gray
    #02b3e4 = Udacity Blue
*/

html, body {
    color: #333;
    background-color: #b1e3f1; /* Udacity blue */
    text-align: center;
    font-family: 'Raleway', Helvetica, sans-serif;
}
h1 {
    color: #333; 
    margin: 25px auto;
}

#form-outer {
    background-color: rgba(255, 255, 255, 0.897);
    width: 75%;
    max-width: 800px;
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px;
}

.row-divs {
    margin-top: 15px;
}

.labels {
    display: inline-block;
    width: 40%;
    text-align: right;
    vertical-align: top;
    padding: 5px;
    padding-right: 15px;
}

.input-divs {
    display: inline-block;
    width: 40%;
    text-align: left;
    height: auto;
}

.input-field {
    padding: 8px 4px;
    width: 80%;
    max-width: 250px;
    border: .5px solid #b1e3f1;
}


.dropdown {
    width: 50%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 8px;
    padding: 2px;
}

#submit {
    color: #333;
    background-color: #b1e3f1;
    margin: 15px;
    padding: 15px 20px;
    border: 0 solid;
    border-radius: 3px;
    font-size: 1.3em;
    box-shadow: .5px 1px #999;